body {
  background-color: rgb(240, 236, 236);
  margin-left: 50px;
}

h1 {
  color: rgb(230, 148, 41);
}

a {
  color: rgb(250, 179, 98);
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
